.weekly-calendar {
	width: 100%;
	border-collapse: collapse;
	margin: 1em 0;
}

.weekly-calendar th {
	background-color: var(--background-secondary);
	padding: 8px;
	text-align: center;
	border: 1px solid var(--background-modifier-border);
}

.weekly-calendar .calendar-day {
	height: 150px;
	vertical-align: top;
	padding: 8px;
	border: 1px solid var(--background-modifier-border);
}

.calendar-day div {
	margin: 2px 0;
	padding: 3px;
	background-color: var(--background-primary-alt);
	border-radius: 3px;
}
